<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>

 <!--  unless @blog.user_id == current_user.id
  if @favorite.present?
     link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger'
  else
     link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' 
   end
 end -->
<%= link_to "ブログ一覧へ戻る", blogs_path %>



<%#
このビューでは、@favoriteがnilであれば（お気に入り登録されていなければ）「お気に入りする」ボタンを表示させます。そのボタンには、Favoriteコントローラのcreateアクションへのリンクをもうけています。
逆に、@favoriteがnilでなければ（お気に入り登録されていれば）「お気に入りを解除する」ボタンを表示させます。解除ボタンは、Favoriteコントローラのdestroyアクションへリンクしています。

この時、createアクションに送る「お気に入りする」のリンクでは、「どのブログをお気に入りするのか？」という情報を送るために、(blog_id: @blog.id)の記述を追記しています。
（@blog.idの値を、blog_idパラメータとして送信し、その値を用いてFavoriteのデータをcreateしています）

また、destroyアクションに送る「お気に入りを解除する」のリンクでは、「どのfavoreiteを削除するのか？」という情報を送るために、(id: @favorite.id)の記述を追記しています %>
